
@{
    ViewBag.Title = "Agregar";
}
<div class="row content container-fluid">
    <form action="@Url.Action("CargarPaciente","Expedientes")" method="post">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h5>EXPEDIENTE</h5></div>
            <div class="panel-body bg-gray">
                <div class="form-group">
                    <label class="control-label col-md-2">Número de Expediente</label>
                    <div class="col-md-4">
                        <input class="form-control" type="number" name="NumExpediente" id="NumExpediente" value="" placeholder="Ingrese un Número" />
                    </div>
                    <label class="control-label col-md-2">Fecha Creación</label>
                    <div class="col-md-4">
                        <input class="form-control" type="date" name="Fecha" id="Fecha" value="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE PACIENTES</h4></div>
            <div class="panel-body bg-gray">
                <div class="form-horizontal col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-md-3">Nombre del Paciente</label>
                        <div class="col-md-9">
                            <input type="text" name="NombrePaciente" id="NombrePaciente" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Edad</label>
                        <div class="col-md-9">
                            <input type="number" name="Edad" id="Edad" class="form-control" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Sexo</label>
                        <div class="col-md-9">
                            <select name="Sexo" id="Sexo" class="form-control">
                                <option value="">Seleccione</option>
                                <option value="Macho">Macho</option>
                                <option value="Hembra">Hembra</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal col-sm-6">

                    <div class="form-group">
                        <label class="control-label col-md-3">Raza</label>
                        <div class="col-md-9">
                            <input type="text" name="Raza" id="Raza" value="" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Especie</label>
                        <div class="col-md-9">
                            <select name="Especie" id="Especie" class="form-control">
                                <option value="">Seleccione</option>
                                <option value="Canino">Canino</option>
                                <option value="Felino">Felino</option>
                                <option value="Aves">Aves</option>
                                <option value="Roedores">Roedores</option>
                                <option value="Reptiles">Reptiles</option>
                            </select>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3">Responsable</label>
                        <div class="col-md-9">
                            <select id="IdResponsable" name="IdResponsable" class="form-control">
                                <option value="">Seleccione</option>
                                @foreach (var item in ViewBag.Responsables)
                                {
                                    <option value="@item.IdResponsable">@item.NombreResponsable @item.ApellidoResponsable</option>
                                }
                            </select>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-8 col-sm-4" align="right">
                        <input type="submit" value="Guardar" class="btn btn-success" /> |
                        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                    </div>
                </div>
            </div>
            
        </div>

    </form>

</div>
@*@section EnvioDatos{
        <script>
            $("#btnGuardar").click(function () {
                var NombrePaciente = $("#NombrePaciente").val();
                var Edad = $("#Edad").val();
                var Sexo = $("#Sexo").val();
                var Raza = $("#Raza").val();
                var Especie = $("#Raza").val();
                var NumExpediente = $("#NumExpediente").val();
                var Fecha = $("#Fecha").val();
                if (NombrePaciente == "" || Especie == "" || NumExpediente == "" || Fecha == "") {
                    alert("Faltan Datos del Paciente")
                }
                else {
                    $.ajaxSetup({ async: false });
                    //cargando datos tabla primaria
                    var urlPaciente = '@Url.Action("CrearExpediente", "Expedientes")';
                    var dataPaciente = { NombrePaciente: NombrePaciente, Edad: Edad, Sexo: Sexo, Raza: Raza, Especie: Especie, NumExpediente: NumExpediente };
                    $.post(urlPaciente, dataPaciente)
                        .done(function (data) {
                            alert(NombrePaciente, Edad, Sexo, Raza, Especie)
                        })
                        .fail(function (data) {
                            console.log("Error: " + data.responseText);
                        }).
                        always(function () {
                        });
                    var url = '@Url.Action("Index", "Pacientes")';
                    $(location).attr('href', url);
                }
            });
        </script>
    }*@

