@model FedeltaSystem.Models.tblExpedientes

@{
    ViewBag.Title = "Expediente N° "+@Html.DisplayFor(model => model.NumExpediente) +" Paciente: "+@Html.DisplayFor(model => model.Paciente.NombrePaciente);
}

    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>DATOS DEL EXPEDIENTES N° @Html.DisplayFor(model => model.NumExpediente)</h4></div>
            <div class="panel-body bg-gray">

                <dl class="dl-horizontal col-sm-6">
                    <dt>
                        Nombre del Paciente:
                    </dt>

                    <dd>
                        <input type="text" name="name" class="form-control" value="@Html.DisplayFor(model => model.Paciente.NombrePaciente)" readonly/>
                        
                    </dd>
                </dl>
                <dl class="dl-horizontal col-sm-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.FechaCreacion)
                    </dt>

                    <dd>
                        <input type="text" name="name" class="form-control" value="@Html.DisplayFor(model => model.FechaCreacion)" readonly />
                    </dd>

                </dl>
            </div>
        </div>
        <p>
            @Html.ActionLink("Modificar", "Edit", new { id = Model.IdExpediente }, new { @class = "btn btn-success" })
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
        </p>
    </div>

    <div class="row content container-fluid">

        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONSULTAS</h4></div>
            <div class="panel-body bg-gray">
                <table id="Tabla" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Fecha Consulta
                            </th>

                            <th>
                                Diagnostico
                            </th>
                            <th>
                                Observaciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Consultas)
                        {
                            <tr>
                                <td>
                                    @item.FechaConsulta
                                </td>
                                <td>
                                    @item.Diagnostico
                                </td>
                                <td>
                                    @item.Observaciones
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!-----./Card dato pacientes--->
    </div>