@model FedeltaSystem.Models.tblExpedientes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblExpedientes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paciente.NombrePaciente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumExpediente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumExpediente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdExpediente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
