@model IEnumerable<FedeltaSystem.Models.tblExpedientes>

@{
    ViewBag.Title = "Expedientes";
}

<div class="row">
    <div class="container-fluid col-sm-12">
        <!----- Card Historial --->
        <div class="panel panel-primary">
            <div class="panel-heading">Historial</div>
            <div class="panel-body">
                <p>
                    @Html.ActionLink("Nuevo Historial", "Create",null,new {@class="btn btn-info" })
                </p>
                <table class="table table-bordered table-hover">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NumExpediente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaCreacion)
                        </th>
                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.NombrePaciente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NumExpediente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaCreacion)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "Edit", new { id = item.IdExpediente },new {@class="btn btn-success" }) |
                                @Html.ActionLink("Detalles", "Details", new { id = item.IdExpediente },new {@class="btn btn-warning" }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.IdExpediente },new {@class="btn btn-danger" })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <!-----./Card dato pacientes--->
    </div>

</div>