@model FedeltaSystem.Models.tblConsultas

@{
    ViewBag.Title = "Delete";
}

<div class="row content container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE PACIENTES</h4></div>
        <div class="panel-body bg-gray">
            <h5 class="alert alert-danger">¿Estas Seguro de Eliminar el Registro?</h5>
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Paciente.NombrePaciente)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.FechaConsulta)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.FechaConsulta)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Peso)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Peso)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Temperatura)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Temperatura)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Diagnostico)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Diagnostico)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Observaciones)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Back to List", "Index")
                    </div>
                }
            </div>

        </div>
    </div>

</div>