@model FedeltaSystem.Models.tblConsultas

@{
    ViewBag.Title = "Details";
}

<div class="row content container-fluid">

    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>DATOS DEL PACIENTES</h4></div>
        <div class="panel-body bg-gray">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Paciente.NombrePaciente)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FechaConsulta)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FechaConsulta)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Peso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Peso)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Temperatura)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Temperatura)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Diagnostico)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Diagnostico)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Observaciones)
                </dd>

            </dl>
        </div>
        <div class="col-sm-offset-9 col-sm-3" align="right">
            @Html.ActionLink("Modificar", "Edit", new { id = Model.IdConsulta }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
        </div>
    </div>
</div>
    </div>
