@model IEnumerable<FedeltaSystem.Models.tblConsultas>

@{
    ViewBag.Title = "Index";
}

<div class="row content container-fluid">
    <p>
        @Html.ActionLink(" Agregar", "Create", null, new { @class = "fa fa-plus btn btn-primary" })
    </p>
    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONTROL DE CONSULTAS</h4></div>
        <div class="panel-body bg-gray">
            <table id="Tabla" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Paciente.NombrePaciente)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FechaConsulta)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Peso)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Temperatura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Diagnostico)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Observaciones)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Paciente.NombrePaciente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaConsulta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Peso)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Temperatura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Diagnostico)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Observaciones)
                            </td>
                            <td>
                                @Html.ActionLink(" ", "Edit", new { id = item.IdConsulta }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" }) |
                                @Html.ActionLink(" ", "Details", new { id = item.IdConsulta }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" }) |
                                @Html.ActionLink(" ", "Delete", new { id = item.IdConsulta }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
