@model FedeltaSystem.Models.tblResponsables

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tblResponsables</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdResponsable }) |
    @Html.ActionLink("Back to List", "Index")
</p>
