@{
    ViewBag.Title = "Dashboard";
}
<div class="row content content-fluid">
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">

                <b class="text">CONSULTAS</b>

                <h3>@ViewBag.CC</h3>
            </div>
            <div class="icon">
                <i class="ion-heart-broken"></i>
            </div>
            <a href="@Url.Action("Create", "Consultas")" class="small-box-footer">Nueva Consulta <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-aqua-gradient">
            <div class="inner">
                <b class="text">CITAS</b>
                <h3>@ViewBag.Citas</h3>
            </div>
            <div class="icon">
                <i class="ion-android-calendar"></i>
            </div>
            <a href="@Url.Action("Index", "Citas")" class="small-box-footer">Administrar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <b class="text">PACIENTES</b>

                <h3>@ViewBag.CP</h3>
            </div>
            <div class="icon">
                <i class="ion ion-ios-paw"></i>
            </div>
            <a href="@Url.Action("Index", "Pacientes")" class="small-box-footer">Administrar <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-xs-4">
        <!-- small box -->
        <div class="small-box bg-fuchsia">
            <div class="inner">
                <b class="text">EXPEDIENTES</b>
                <h3>@ViewBag.CEE</h3>
            </div>
            <div class="icon">
                <i class="ion-android-archive"></i>
            </div>
            <a href="@Url.Action("CargarPaciente", "Expedientes")" class="small-box-footer">Nuevo Expediente<i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    @{
    if (Convert.ToString(Session["Rol"]) == "Administrador")
    {
            <!-- ./col -->
            <div class="col-lg-4 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <b class="text">USUARIOS</b>

                        <h3>@ViewBag.CU</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("Index", "Usuarios")" class="small-box-footer">Administrar <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-xs-4">
                <!-- small box -->
                <div class="small-box bg-gray-active">
                    <div class="inner">
                        <b class="text">EMPLEADOS</b>

                        <h3>@ViewBag.CE</h3>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people"></i>
                    </div>
                    <a href="@Url.Action("Index", "Empleados")" class="small-box-footer">Administrar <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        }
    }
        </div>
