@model FedeltaSystem.Models.tblUsuarios

@{
    ViewBag.Title = "Detalles";
}
    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE USUARIO</h4></div>
            <div class="panel-body bg-gray">

                <div>
                    <dl class="col-sm-6 dl-horizontal">
                        <dt>
                            Nombre Empleado
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Empleados.NombreEmpleado)
                            @Html.DisplayFor(model => model.Empleados.Empleado)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Roles.Rol)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Roles.Rol)
                        </dd>

                    </dl>
                    <dl class="col-sm-6 dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Usuario)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Usuario)
                        </dd>

                        <dt>
                            Contraseña
                        </dt>

                        <dd>
                            ******
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-offset-9 col-sm-3" align="right">
                    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdUsuario }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>
