@model IEnumerable<FedeltaSystem.Models.tblUsuarios>

@{
    ViewBag.Title = "Index";
}
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="text-info">Registros de Usuarios</h4></div>
        <div class="panel-body">


            <p class="text-right">
                <a href="@Url.Action("Create")" class="btn btn-info"><i class="glyphicon glyphicon-plus"></i>NUEVO</a>
            </p>
            <table class="table table-bordered">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Empleados.NombreEmpleado)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Roles.Rol)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Usuario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clave)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Empleados.NombreEmpleado)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Roles.Rol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Usuario)
                        </td>
                        <td>
                            ******
                        </td>

                        <td>
                            @Html.ActionLink("MODIFICAR", "Edit", new { id = item.IdUsuario }, new { @class = "btn btn-success" })
                            @Html.ActionLink("DETALLES", "Details", new { id = item.IdUsuario }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("ELIMINAR", "Delete", new { id = item.IdUsuario }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>