@model FedeltaSystem.Models.tblEmpleados

@{
    ViewBag.Title = "Detalles";
}

    <div class="row content container-fluid">
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE USUARIO</h4></div>
            <div class="panel-body bg-gray">

                <div>
                    <dl class="col-sm-6 dl-horizontal">
                        <dt>
                            Nombre del Empleado
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NombreEmpleado)
                        </dd>

                        <dt>
                            Apellido del Empleado
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ApellidoEmpleado)
                        </dd>
                    </dl>
                    <dl class="col-sm-6 dl-horizontal">
                        <dt>
                            Teléfono
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Telefono)
                        </dd>

                        <dt>
                            Dirección
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Direccion)
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-offset-9 col-sm-3" align="right">
                    @Html.ActionLink("Modificar", "Edit", new { id = Model.IdEmpleado }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
                </div>
            </div>
        </div>
    </div>