@model IEnumerable<FedeltaSystem.Models.tblEmpleados>

@{
    ViewBag.Title = "Empleados";
}

    <div class="row content container-fluid">
        <div class="col-sm-offset-11 col-sm-1" align="right">
            <a title="Agregar Empleado" href="@Url.Action("Create")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i></a>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading text-center"><h4>CONTROL DE EMPLEADOS</h4></div>
            <div class="panel-body bg-gray">
                <table id="Tabla" class="table table-bordered table-hover text-center">
                    <thead>
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Apellido
                            </th>
                            <th>
                                Teléfono
                            </th>
                            <th>
                                Dirección
                            </th>
                            <th><i class="fa fa-gear"></i> </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ApellidoEmpleado)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = item.IdEmpleado }, new { @class = "fa fa-edit btn btn-info", title = "Modificar" })
                                    @Html.ActionLink(" ", "Details", new { id = item.IdEmpleado }, new { @class = "fa fa-eye btn btn-warning", title = "Ver Detalles" })
                                    @Html.ActionLink(" ", "Delete", new { id = item.IdEmpleado }, new { @class = "fa fa-trash btn btn-danger", title = "Eliminar" })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>
