@model FedeltaSystem.Models.tblPacientes

@{
    ViewBag.Title = "Datos de Paciente "+@Html.DisplayFor(model => model.NombrePaciente);
}
<div class="row content container-fluid">

    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>DATOS DEL PACIENTES</h4></div>
        <div class="panel-body bg-gray">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Responsable.NombreResponsable)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Responsable.NombreResponsable)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NombrePaciente)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombrePaciente)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Edad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Edad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sexo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Raza)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Raza)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Especie)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Especie)
                </dd>

            </dl>
            <p>
                @Html.ActionLink("Modificar", "Edit", new { id = Model.IdPaciente }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-info" })
            </p>
        </div>

    </div>
</div>
    <!-----./Card dato pacientes--->


<div class="row content container-fluid">

    <div class="panel panel-primary">
        <div class="panel-heading text-center"><h4>CONSULTAS</h4></div>
        <div class="panel-body bg-gray">
            <table id="Tabla" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Fecha Consulta
                        </th>

                        <th>
                            Diagnostico
                        </th>
                        <th>
                            Observaciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Consultas)
                    {
                        <tr>
                            <td>
                                @item.FechaConsulta
                            </td>
                            <td>
                                @item.Diagnostico
                            </td>
                            <td>
                                @item.Observaciones
                            </td>

                        </tr>
                    }
                </tbody>
                <tfoot>

                </tfoot>

            </table>
        </div>
    </div>
    <!-----./Card dato pacientes--->
</div>
